body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.merkez{
    text-align: center;
    list-style-position: inside;
}

.baslik{
    color: brown;
}
.baslik1{
    color: orange;
}
.secenekler{
    display: inline-block;
}
.divproducts{
    color: blue;
}
